@layout('base')
@section('content')
<h1> Add New Category </h1>

<form method="POST">
  {{ csrfField() }}
  <div>
    <label class="form-label">Category:</label>
    <input type='text' name='categoryname' class="form-control"/>
  </div>
  <input type='submit'/>
</form>

@endsection
